html{
  height: 100%;
}

body{
	color: #fff;
	line-height: 1;
	font-size: 14px;
	box-sizing: border-box;
	position: relative;
	font-family: 'Roboto', "Arial", sans-serif;

	display: flex;
  	flex-direction: column;
  	min-height: 100%;
  	margin: 0;
}

*, *:before, *:after{
  	box-sizing: border-box;
}

img{
	width: 100%;
	height: auto;
}

a{
	cursor: pointer;
	color: #fff;
	font-family: inherit;
	text-decoration:none;
	outline: none;
	&:hover,
	&:focus{
		text-decoration: none;
		color: #c5c1c1;
		opacity: .9;
    }
    &:active{
   		opacity: .6;
   	}
}

h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

label{
	margin-bottom: 0;
}

input{
	outline: none;
	font-family: inherit;
}

.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main{
	background-color: #50516d;
	flex-grow: 1;
}

.title{
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
    font-style: italic;
    letter-spacing: 2px;
}

.contact__title{
	text-transform: none;
	font-size: 20px;
	letter-spacing: 1px;
}

.form-group .error:nth-child(3){
	display: block;
	text-align: center;
	color: #ce7c7c;
}

@import url("blocks/header.less");
@import url("blocks/info.less");
@import url("blocks/portfolio.less");
@import url("blocks/footer.less");
