html {
  height: 100%;
}
body {
  color: #fff;
  line-height: 1;
  font-size: 14px;
  position: relative;
  font-family: 'Roboto', "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
a {
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #c5c1c1;
  opacity: 0.9;
}
a:active {
  opacity: 0.6;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
label {
  margin-bottom: 0;
}
input {
  outline: none;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main {
  background-color: #50516d;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.title {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  letter-spacing: 2px;
}
.contact__title {
  text-transform: none;
  font-size: 20px;
  letter-spacing: 1px;
}
.control-group {
  text-align: center;
}
.form-group > .error:nth-child(3) {
  color: #ce7c7c;
}
.navbar-toggler {
  outline: none;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
  background-color: #50516d;
}
.navbar-brand__code {
  font-style: 25px;
  margin-left: 5px;
}
.navbar {
  background-color: #100e16;
}
.navbar-brand {
  color: #fff !important;
}
.nav-link {
  position: relative;
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px !important;
}
.nav-link:hover::before,
.nav-link:focus::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
}
.navbar-brand__img {
  width: 50px;
  height: 50px;
}
@media (max-width: 992px) {
  .nav-link {
    padding: 15px 0;
  }
}
.about {
  margin-bottom: 30px;
}
.about__itIsMe {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #fff;
}
.about__itIsme-wrapper {
  padding: 50px;
}
.about__skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
  text-align: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto 	20px;
}
.about__skills-item {
  position: relative;
  font-size: 18px;
  margin: 5px 10px;
  letter-spacing: 1px;
}
.about__icon-item {
  font-size: 40px;
}
.about__icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto 	20px;
}
.about__icon-item {
  width: 80px;
}
@media (max-width: 992px) {
  .about__skills-item {
    width: 50%;
    margin: 5px 0;
  }
}
.portfolio {
  margin-bottom: 20px;
}
.portfolio__item {
  margin-bottom: 20px;
}
.portfolio__link {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 400px;
  overflow: hidden;
  border: 2px solid #fff;
  border-radius: 25px;
}
.portfolio__link:hover .portfolio__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(97, 97, 97, 0.4);
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.portfolio__icon {
  position: absolute;
  color: #fff;
  font-size: 40px;
}
.portfolio__img {
  width: 100%;
  height: 100%;
}
.footer {
  width: 100%;
  background-color: #100e16;
  padding: 25px;
  overflow: hidden;
}
.socials-nw {
  text-align: center;
  margin: 0 5px;
}
.socials-nw__item {
  display: inline-block;
  vertical-align: text-top;
  margin: 0 5px;
}
.socials-nw__link {
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.socials-nw__link::before {
  display: block;
  line-height: 40px;
  margin: 0 auto;
}
.socials-nw__item .fa-skype {
  background-color: #00aff0;
}
.socials-nw__item .fa-facebook-f {
  background-color: #2f477e;
}
.socials-nw__item .fa-linkedin {
  background-color: #4875B4;
}
